.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

/* .input-field {
  width: 100%;
  padding: 0.9rem 1rem 0.9rem 2.8rem;
  border: 1px solid #ccc;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
} */

.input-field {
  width: 100%;
  padding: 0.9rem 1rem;
  padding-left: 2.8rem; /* IMPORTANT for icon space */

  /* background: rgba(255, 255, 255, 0.1); */
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);

  color: white;
  border-radius: 8px;
  font-size: 1rem;

  outline: none;

  /* backdrop-filter: blur(8px); */
}
.input-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(255, 255, 255, 0.7);
  /* font-size: 1rem; */
  /* padding-left: 2.8rem; */
}

.input-field:focus {
  outline: none;
  border-color: black;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
